.vc-settings-theme-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.vc-settings-theme-link-row {
    display: grid;
    height: 40px;
    gap: 8px;
    grid-template-columns: 1fr auto;
}

.vc-settings-theme-filter-row {
    display: grid;
    height: 40px;
    gap: 8px;
    grid-template-columns: 1fr 150px;
}

.vc-settings-theme-error-card {
    padding: 16px;
}

.vc-settings-csp-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.vc-settings-usercss-ie-buttons > div {
    color: var(--interactive-icon-default, var(--interactive-normal));
    opacity: 0.5;
    padding: 4px;
    cursor: pointer;
}

.vc-settings-usercss-ie-buttons > div:hover {
    color: var(--interactive-icon-hover, var(--interactive-hover));
    opacity: 1;
}

.vc-settings-csp-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}

.vc-settings-csp-row a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
}

.vc-settings-theme-menu-button {
    cursor: pointer;
    color: var(--interactive-icon-default, var(--interactive-normal));
    display: flex;
    align-items: center;
    height: 24px;
}

.vc-settings-theme-menu-button:hover {
    color: var(--interactive-icon-hover, var(--interactive-hover));
}

.vc-settings-theme-footer-pin-icon {
    display: flex;
}

.vc-settings-theme-footer-pin-icon svg {
    width: 16px;
    height: 16px;
}

.vc-settings-theme-footer-pin-icon svg path {
    fill: var(--text-muted);
}

.name__2ea32,
.overflow_b0dfc2 {
    color: lightgray;
}

.botText__82f07 {
    color: lightgray;
}

.vc-btn-base,
.vc-btn-primary,
.vc-btn-small {
    background-color: rgba(10, 115, 185, 0.5) !important;
    color: whitesmoke !important;
}

.vc-toolbox-btn,
.iconWrapper__9293f,
.clickable__9293f,
.vc-text-btn-base,
.vc-text-btn-secondary,
.vc-ranb-button {
    color: rgb(233, 233, 233);
}

.vc-text-base,
.vc-text-md,
.vc-text-medium,
.vc-plugins-setting-title {
    color: lightgray;
}

.lowerBadge_cc5dd2 {
    color: lightgray !important;
}

.vc-membercount-total-count {
    color: gray !important;
}

.vc-addon-note {
    color: white;
}

.vc-text-base,
.vc-text-sm,
.vc-text-normal,
.vc-plugins-setting-description {
    color: white;
}

.vc-h4,
.vc-margin-top-20,
.vc-margin-bottom-8 {
    color: white;
}