.vc-msg-logger-enhanced-modal-root {
    max-height: 80vh;
    min-height: 80vh;
    min-width: 85vw;
    max-width: 85vw;
}

.vc-msg-logger-enhanced-modal-empty-logs {
    display: grid;
    place-content: center;
    height: 100%;
}

.vc-msg-logger-enhanced-modal-info-icon {
    position: absolute;
    top: -24px;
    right: -24px;
    color: var(--interactive-icon-default);
    cursor: pointer;
}

.vc-msg-logger-enhanced-modal-header {
    flex-direction: column;

    /* width: 100%; */
}

.vc-msg-logger-enhanced-modal-content-container {
    /* max-height: 80vh; */
    overflow: hidden;
    height: 100%;
    transition: opacity 100ms ease-in;
}

.vc-msg-logger-enhanced-modal-content {
    padding-bottom: 20px;
    height: 100%;
}

.vc-msg-logger-enhanced-modal-content-inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
}

.vc-msg-logger-enhanced-modal-header > div:has(input) {
    width: 100%;
}

.vc-msg-logger-enhanced-modal-tab-bar-item {
    padding-bottom: 16px;
    margin-bottom: -2px;
}

.vc-msg-logger-enhanced-modal-tab-bar {
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
}

.vc-msg-logger-enhanced-modal-from {
    font-size: 14px;
    margin-left: 12px;
}

.msg-logger-modal-from-deleted {
    color: var(--status-danger);
}

.vc-msg-logger-enhanced-modal-from-edited {
    color: var(--white-600);
}

.vc-msg-logger-enhanced-toolbox-btn svg {
    color: var(--interactive-icon-default);
}

:is(.vc-msg-logger-enhanced-toolbox-btn:hover, .vc-msg-logger-enhanced-toolbox-btn[class*="selected"]) svg {
    color: var(--interactive-icon-active);
}

.vc-msg-logger-enhanced-folder-upload-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: var(--background-secondary-alt);
}

.vc-msg-logger-enhanced-folder-upload-input {
    cursor: pointer;
    padding: 10px 0 10px 10px;
    color: var(--text-default);
}

.vc-msg-logger-enhanced-folder-upload-button {
    margin: 6px;
    padding: 4px 8px;
}

.vc-updater-modal-content {
    padding: 1rem 2rem;
}