.vc-h1,
.vc-h2,
.vc-h3,
.vc-h4,
.vc-h5 {
    color: var(--text-strong);
    font-family: var(--font-display);
}

.vc-h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.vc-h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.vc-h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.vc-h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.vc-h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.vc-h1-defaultMargin,
.vc-h2-defaultMargin {
    margin-bottom: 20px
}

/* This is copied from Discord, don't ask me why 0 margin */
.vc-h4-defaultMargin {
    margin-bottom: 0;
    margin-top: 0;
}

.vc-h3-defaultMargin,
.vc-h5-defaultMargin {
    margin-bottom: 8px
}
