.vc-eqh-standing {
    color: currentcolor;
    transition: color 120ms ease;
}

[role="button"] {
    --vc-eqh-standing-hover: currentcolor;
}

[role="button"]:hover > .vc-eqh-standing {
    color: var(--vc-eqh-standing-hover, currentcolor);
}
